.card {
    background-color: #c4c4c4;
    text-decoration:none;
    border-radius: 0.3vw;
    width: 20vw;
    border: .1em solid whitesmoke;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    text-align: center;
    padding: 0.1vw;
    margin: 0.2vw;
    height: 60vh;
    flex-grow: 2;
    
  }
  .card:hover{
    text-decoration: none;
    border-radius: 0.3vw;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    text-align: center;
    padding: 0.1vw;
    margin: 0.2vw;
    height: 60vh;
    flex-grow: 3;
    background-color: #D9D9D9;
    height: 55vh;
    border: .1em solid #e0c5ac;
  }
.img-dog {
    align-self: center;
    border-radius: 30px;
    width: 200px;
    height: 200px;
    padding: .51em;
    text-decoration: "none";
  }
.nameCard{
    padding: 0px;
    margin-top: 10px;
    font-family: 'Abril Fatface';
    text-decoration: none;
    color: black;
}
.nameCard a:Link{
  text-decoration: none;
}
.card p {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: black;
}
.AllTemps {
  text-decoration: "none";
  color: black;
}
