.todos {
    display: flex;
    flex-flow: row wrap;
    background: whitesmoke;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
  }
/*   
  .Filter {
    padding: 10px 10px;
    flex-direction:column;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
/*   
  .Order {
    padding: 10px 10px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
  
  .Reset {
    margin: 5px;
    background-color: black;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
    
   
  }
  .paginado {
    display: flex;
    padding-left:3px;
    padding-right:3px;
    flex-direction: row;
    justify-content: center;
    list-style:none;
    
  }
  .Reset:hover {
    background: #D9D9D9;
    color: #43312f;
    width: 10px 10px;
  }
  .center {
  padding: 1em;
  align-items: center;
  }

  .Nav {
    background: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 5px 5px  #282c34;
    margin-top: -40px;
    margin-bottom: 10px;
  }
  .Nav h3{
    display:inline-block;    
    color: whitesmoke;
  }
  .Nav h6 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 65px;
    color: whitesmoke;
  }
  
.Logo {
  font-family: "Abril Fatface", cursive;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  margin-bottom: -40px;

}
.centro{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 45px;

}

.TopBoard{
  display: flex;
  flex-direction: row;
  background: #C4C4C4;
  box-shadow: 2px 5px 5px  #282c34;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  color: #C4C4C4;
}
.Filter {
  padding: 0em 1em;
  display: flex;
  flex-direction: row;
  float:right;
  margin-top: 13px;
}
.Order {
  padding: 0em 1em;
  display: flex;
  flex-direction: row;
  float: right;
  margin-top: 13px;
}