.todos {
    display: flex;
    flex-flow: row wrap;
    background: #43312f;
    justify-content: center;
    align-items: center;
    padding: 0.5em 1em;
  }
  
  .Filter {
    padding:10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .Order {
    padding: 10px 10px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Reset {
    margin: 5px;
    background-color: #43312f;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
    
   
  }
  .paginado {
    display: flex;
    padding-left:3px;
    padding-right:3px;
    flex-direction: row;
    justify-content: center;
    list-style:none;
    
  }
  
  .Num {
    margin: 2px;
    background-color: #494949;
    color: #b8d3ee;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    width: 3em;
  }
  
  .Num:hover {
    background: #b8d3ee;
    color: #494949;
  
    text-decoration: none;
  }
  .Reset:hover {
    background: #ac8971;
    color: #43312f;
    width: 10px 10px;
  }

  .center {
  padding: 1em;
  align-items: center;
  }

  .Nav {
    background: #ac8971;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 5px 16px #43312f;
  
  }
  .link {
    margin: center;
    padding: 0;
    font-size: 80px;
  }
  