
.landing {
    background-color: whitesmoke;
    display: flex;
    flex-direction: center;
    color: #494949;
    text-align: center;
    justify-content: center;
    align-items: column;
    border: #494949;
  }
  
  .Titulo {
    font-family: "Abril Fatface", cursive;
    font-size: 50px;
    color: black;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    align-self:center;
    align-content: center;
    width: 500px;
    height: 50px;
    margin-top: 50PX;
    margin-bottom: -100px;
  
  }
  .Zeus{
    display: flex;
    align-items: stretch;
    justify-content: center;
    align-items: center;
    width: 67%;
    height: 50%;
    margin-top: -238px;
   
  }
  .Ingreso{
    -webkit-border-radius: 7;
    -moz-border-radius: 7;
    border-radius: 7px;
    font-family: Arial;
    color: #ac8971;
    font-size: 36px;
    background: #494949;
    padding: 11px 20px 10px 20px;
    text-decoration: none;

    margin-top: 330px;
    float:inline-end;
    margin-left: 450px;
    overflow: hidden;
   
  }
  .Ingreso:hover {
    color: #494949;
    background: #ac8971;
    border-color: #43312f;
    text-transform: uppercase;
    transition: all 0.2s ease 0s;
    border-radius: 1rem;
    
    
  }
  .fondo{ 
    background-color: whitesmoke;
    padding: 10px;
  }
  /* .boton{
    display: flex;
    margin-top: 400px;
    float: right;
    margin-right: 150px;
    margin-bottom: 350px;
  } */

  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
